html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#content {
  text-align: center;
  padding-bottom: 30px;
}

/* Navbar Styling */
nav {
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width:300px;
  height:80px;
  padding:5px; /* this */
}
nav > .my-link {
  flex:1 1 auto;
  text-align:center;
  margin:10px;  /* and that, will result in a 10px gap */
}
.my-link:link, .my-link:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.my-link:hover, .my-link:active {
  background-color: green;
  color: white;
}

/* Table Styling */
table {
  border-spacing: 0;
  border: 1px solid black;
}
th,
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
th:last-child {
  border-right: 0;
}
td:last-child {
  border-right: 0;
}