html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#content {
  text-align: center;
  padding-bottom: 30px;
}

/* Navbar Styling */
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #333;

  width: 100%;
  padding:5px; /* this */
  margin-bottom: 5px;
}
nav > .my-link {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  margin: 0px 10px;
}
.my-link .my-link:hover:not(.active) {
  background-color: #111;
}
.my-link:hover, .my-link:active {
  background-color: green;
  color: white;
}
.active {
  background-color: #4CAF50;
}

/* Table Styling */
table {
  border-spacing: 0;
  border: 1px solid black;
}
th,
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
th:last-child {
  border-right: 0;
}
td:last-child {
  border-right: 0;
}